{{#if success_msg}}
    <div class="mensagem-sucesso">
        <p>{{success_msg}}</p>
    </div>
{{else}}

{{/if}}

{{#if error_msg}}
    <div class="mensagem-erro">
        <p>
            {{error_msg}}
        </p>
    </div>
{{else}}

{{/if}}