<header>
    <nav class="nav">

        <div class="input_nav">
            <div class="icon_input_nav">
                <ion-icon name="search-outline"></ion-icon>
            </div>

            <div class="search_input_nav">
                <input type="text" name="search" id="search" placeholder="Buscar">
            </div>
        </div>

        <ul class="nav-list">
            <li><a href="/" class="link-nav">Início</a></li>
            <li><a href="/usuario/amigos" class="link-nav">Network</a></li>
            <li><a href="#" class="link-nav">Empregos</a></li>
            <li><a href="#" class="link-nav">Notificações</a></li>
            <li><a href="/usuario/editarPerfil" class="link-nav">Configurações</a></li>
            <li><a href="/logout" class="link-nav">Sair</a></li>
        </ul>
        <div class="bx bx-menu" id="menu-icon">
            <ion-icon name="menu-outline"></ion-icon>
        </div>

        <div class="search_bar">

        </div>

    </nav>
</header>