<header>
    <nav class="nav">

        <ul class="nav-list">
            <li><a href="/" class="link-nav">Início</a></li>
            <li><a href="/jogador/minhasEscalacoes" class="link-nav">Elenco</a></li>
            <li><a href="#" class="link-nav">DME</a></li>
            <li><a href="#" class="link-nav">Objetivos</a></li>
            <li><a href="/jogador/loja" class="link-nav">Loja</a></li>
            <li><a href="/jogador/amigos" class="link-nav">Amigos</a></li>
        </ul>

        <div class="search_bar">
            
        </div>

    </nav>
</header>