@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Mukta:wght@300&family=Poppins&family=Roboto:wght@300;700&family=Varela+Round&display=swap');

/* CONFIGURAÇÕES GERAIS */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--font-color);
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #f5f5f5;
    --font-color: #404040;
    --font-color-low-emphasis: #444444b2;
    --color1: #F2508B;
    /*--color2: #b96378;*/
    --color2: #bb5a72;
    --color3: #F291B5;
    --color4: #F2CEDB;
    --color5: #b96b7f;
}

/* ==== CONFIGURAÇÕES GERAIS ====== */

.main {
    min-height: 100vh;
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background: #f5f5f5c9;
    min-height: 72vh;
}

/* ===== REUTILIZÁVEL ======= */

.mensagem-sucesso {
    position: relative;
    z-index: 999;
    width: 40%;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    background: rgb(142 229 142 / 23%);
    color: rgb(20, 124, 20);
    text-align: center;
    margin-bottom: 25px;
}

.mensagem-erro {
    position: relative;
    z-index: 999;
    width: 40%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
    background: rgb(243 188 188 / 54%);
    color: rgb(171 61 61);
    text-align: center;
    margin-bottom: 25px;
}

.container-principal {
    margin-top: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
    place-items: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pink_font {
    color: var(--color1);
}

.flex {
    max-width: 425px;
    align-items: center;
    display: flex;
}

.profile_edit {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 50px;
    padding: 50px;
    border-radius: 15px;
}

#menu-icon ion-icon {
    display: none;
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
}

.bx-x {
    z-index: 9999;
    display: block;
}

.bx-x ion-icon {
    color: var(--font-color) !important;
}

.open {
    z-index: 999;
    display: block !important;
    top: 0px !important;
    right: 0px !important;
}

.container_unico {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    min-height: 100%;
    min-width: 100%;
    border-radius: 10px;
    background: white;
}

#margin_top {
    margin-top: 1em;
}

#transparente {
    background: transparent !important;
}

/* ======= LOGIN / CADASTRO ======== */

.container_login,
.container_cadastro {
    background: var(--bg-color);
    margin-top: -100px;
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.container_login:before,
.container_cadastro:before {
    content: "";
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #F2508B, #F291B5, #D9A9B6, #F2CEDB, #F2BDC7);
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;
}

.forms-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.signin-signup {
    margin-top: 600px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form.sign-in-form {
    z-index: 2;
}

form.sign-up-form {
    z-index: 1;
}

.title {
    font-weight: 500;
    max-width: 500px;
    text-align: center;
    font-size: 1.75rem;
    color: #444;
    margin-bottom: 25px;
}

.subtitle {
    text-align: center;
    width: 300px;
    margin-top: -20px;
    margin-bottom: 25px;
}

.subtitle a {
    color: var(--color1);
    text-underline-offset: 3px;
    text-decoration: underline;
}

.input-field {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f3;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
}

.input-field ion-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 500;
    font-size: 1.1rem;
    color: #696969;
}

.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.btn {
    margin-top: 35px;
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background: #dfa1b8;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    transform: 0.5s;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.btn:hover {
    background: var(--color2);
}

.social-text {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
    padding: 0.7rem 0;
    font-size: 14.5px;
    cursor: pointer;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    height: 50px;
    width: 50px;
    border: 1px solid #333;
    margin: 0 0.45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 1.1rem;
    border-radius: 50%;
    transform: 0.3s;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.social-icon:hover {
    color: var(--color3);
    border-color: var(--color3);
}

.social-icon ion-icon {
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transform: 0.3s;
}

.social-icon ion-icon:hover {
    color: var(--color3);
}

.icon-inicio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-ion {
    display: flex;
    align-items: center;
    justify-content: center;
}

.panels-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}

.left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right-panel {
    pointer-events: none;
    padding: 3rem 17% 2rem 17%;
}

.panel .content {
    color: white;
}

.panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 2.5rem;
}

.panel p {
    font-size: 1.1rem;
    padding: 0.7rem 0;
}

.btn.transparent {
    transition-duration: 0.5s;
    margin: 0;
    margin-top: 25px;
    background: none;
    border: 2px solid white;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.btn.transparent:hover {
    color: var(--color2);
    background: white;
}

.image {
    width: 100%;
}

.secret {
    display: none;
}

.right-panel .content .right-panel .image {
    transform: translateX(900px);
}

/* ==== CONTINUAÇÃO CADASTRO ==== */

#cadastro {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.title_cadastro {
    text-align: center;
}


.subtitle_cadastro {
    font-weight: normal;
    color: var(--font-color-low-emphasis);
    width: 500px;
    margin-top: -17.5px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 18px;
}

.span_cadastro {
    color: var(--color1);
}

.inputs_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.label_cadastro {
    font-size: 16px;
    margin-bottom: 2.5px;
}

.adicionar_formacao div {
    margin-top: -10px;
    margin-bottom: 50px;
    color: var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out .3s;
}

.adicionar_formacao div:hover {
    text-underline-offset: 3px;
    text-decoration: underline;
}

.adicionar_formacao div ion-icon {
    font-size: 20px;
    color: var(--color1);
}

.input_cadastro {
    background: white;
    font-size: 16.5px;
    margin-bottom: 25px;
    outline: none;
    border-radius: 7.5px;
    padding: 10px;
    width: 425px;
    border: 1px solid #44444428;
}

.checkbox {
    background: white;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 2px;
    margin-right: 10px;
}

.checkbox:checked {
    background-color: var(--color2);
}

.radio_options {
    border-radius: 10px;
    margin-bottom: 25px;
    border: 1px solid #aaaaaa91;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

.radio_options input {
    border: 1px solid #5c5c5c91;
    border-radius: 50%;
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.submit_cadastro {
    margin-top: 3em;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    width: 300px;
    background: var(--color2);
    color: white;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.submit_cadastro:hover {
    background: var(--color5);
}

/* ======= NAVBAR CONFIG ======= */

.nav {
    background: linear-gradient(-25deg, var(--color1), var(--color2), var(--color3), var(--color4));
    animation: gradiente 7.5s ease-in-out alternate infinite;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.link-nav {
    position: relative;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 1px;
    margin-left: 30px;
    color: white;
}

.link-nav::before,
.link-nav::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: white;
    transform: scaleX(0);
    transition: transform .25s;
}

.link-nav::before {
    top: -2px;
    transform-origin: left;
}

.link-nav::after {
    bottom: -3px;
    transform-origin: right;
}

.link-nav:hover::before,
.link-nav:hover::after {
    transform: scaleX(1);
}

.input_nav {
    margin-left: 17.5%;
    display: flex;
    background: var(--bg-color);
    border-radius: 10px;
    padding: 6.5px;
    width: 350px;
    height: 40px;
}

.input_nav .icon_input_nav {
    margin-left: 10px;
    margin-right: 17.5px;
    font-size: 22.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_nav .search_input_nav input {
    margin-top: 4px;
    display: flex;
    align-items: center;
    width: 275px;
    background: none;
    outline: none;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.input_nav .search_input_nav input:hover {
    outline: none;
    border: none;
}

/* PÁGINA PRINCIPAL */

.container_principal {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1450px;
    height: 100%;
    padding: 50px;
    padding-top: 50px;
    margin-bottom: 10em;
    gap: 50px;
    border-radius: 15px;
}

.container_left {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 100%;
    gap: 50px;
}

.container_left_top {
    width: 900px;
    display: flex;
    flex-direction: column;
}

.container_left_bottom {
    gap: 50px;
    display: flex;
    justify-content: center;
}

.main_info {
    background: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 350px;
    max-height: 275px;
}

.main_info .main_info_div {
    border-bottom: 1px solid #3333331a;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 210px;
    height: 50px;
    background: white;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.main_info .main_info_div:hover {
    background: #f0f0f0;
}

.main_info .main_info_div div {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_info .main_info_div div ion-icon {
    color: var(--color2);
    margin-left: 0.25em;
    font-size: 22.5px;
}

.main_info .main_info_div div p {
    margin-left: 0.5em;
    font-size: 16.5px;
}

.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 25px;
    width: 575px;
    min-height: 700px;
    background: white;
}

.text_something {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 3em;
    width: 500px;
    height: 100px;
}

.text_something_top {
    display: flex;
    align-items: center;
}

.text_something_bottom {
    margin-top: 15px;
    display: flex;
    width: 500px;
    margin-left: 125px;
}

.text_something_bottom ion-icon {
    cursor: pointer;
    color: #444444ab;
    font-size: 22px;
    margin-right: 10px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.text_something_bottom ion-icon:hover {
    transform: scale(1.1);
    color: var(--font-color);
}

.text_something_bottom input {
    cursor: pointer;
    margin-left: 250px;
    padding: 2.5px;
    background: var(--color5);
    color: white;
    border-radius: 10px;
    width: 75px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.text_something_bottom input:hover {
    background: var(--color2);
}

.photo_text_feed {
    display: flex;
    align-items: center;
}

.photo_text_feed img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.text_feed {
    margin-left: 20px;
    width: 450px;
    height: 45px;
}

.text_feed input {
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #acacac9a;
    outline: none;
}

text_feed input:focus {
    border: 1px solid #acacac9a;
    outline: none;
}

.feed_publications {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    min-height: 400px;
}

.publication {
    margin-bottom: 3em;
    border-radius: 15px;
    border: 1px solid #33333323;
    padding: 15px;
    width: 100%;
    background: white;
}

.info_publication {
    display: flex;
    width: 100%;
}

.info_publication img {
    border-radius: 50%;
    max-width: 35px;
    max-height: 35px;
}

.info_publication h2 {
    font-weight: normal;
    display: flex;
    align-items: center;
    font-size: 17px;
    margin-left: 15px;
    font-weight: bold;
}

.content_publication {
    text-align: justify;
    margin-top: 1.25em;
    width: 100%;
}

.bottom_publication {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.actions_publications {
    display: flex;
    font-size: 20px;
    margin-top: 15px;
}

.qtd_likes_publication {
    width: 100%;
}

.qtd_likes_publication p {
    text-align: right;
    margin-right: 5px;
    color: #444444b0;
    font-size: 15px;
}

.actions_publications ion-icon {
    cursor: pointer;
    color: #444444b0;
    margin-right: 10px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.actions_publications ion-icon:hover {
    color: var(--font-color);
}

.date_publication {
    margin-left: 15px;
    font-size: 13px;
    font-weight: normal;
    color: #444444b0;
}

.main_profile {
    display: flex;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.left_profile {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.left_profile img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

.desc_main_profile {
    margin-bottom: 1em;
    text-align: left;
    margin-left: 15px;
}

.desc_main_profile h1 {
    color: white;
    font-size: 25px;
    text-shadow: var(--font-color) 0.1em 0.1em 0.2em
}

.desc_main_profile h2 {
    margin: 10px 0px 10px 0px;
    color: white;
    font-weight: normal;
    font-size: 18px;
    text-shadow: var(--font-color) 0.1em 0.1em 0.2em
}

.desc_main_profile p {
    color: white;
    font-size: 15px;
    text-shadow: var(--font-color) 0.1em 0.1em 0.2em
}

.right_profile {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.edit_profile_button_index {
    width: 175px;
    cursor: pointer;
    background: linear-gradient(-60deg, #F29F05, #F2B705, #F2CB05);
    color: white;
    font-family: inherit;
    padding: 0.3em;
    padding-left: 1.2em;
    font-size: 16px;
    font-weight: 500;
    border-radius: 1.2em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #F29F05;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
}

.edit_profile_button_index .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #F29F05;
    right: 0.3em;
    transition: all 0.3s;
}

.edit_profile_button_index:hover .icon {
    width: calc(100% - 0.6em);
}

.edit_profile_button_index .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #F29F05;
}

.edit_profile_button_index:hover .icon svg {
    transform: translateX(0.1em);
}

.edit_profile_button_index:active .icon {
    transform: scale(0.95);
}

.container_right {
    border-radius: 15px;
    min-height: 1200px;
}

.index_events {
    border-radius: 15px;
    padding: 25px;
    background: white;
    width: 400px;
    min-height: 100px;
    margin-bottom: 50px;
}

.index_companies {
    border-radius: 15px;
    padding: 25px;
    background: white;
    width: 400px;
    min-height: 100px;
    margin-bottom: 50px;
}

.index_friends {
    border-radius: 15px;
    padding: 25px;
    background: white;
    width: 400px;
    min-height: 100px;
    margin-bottom: 50px;
}

.title_index_events {
    color: var(--font-color);
    display: flex;
    align-items: center;
    font-size: 19.5px;
    margin-bottom: 2em;
}

.title_index_events ion-icon {
    margin-right: 10px;
}

.vaga_emprego {
    margin-left: -20px;
    border-radius: 20px;
    cursor: pointer;
    padding: 20px;
    display: flex;
    align-items: center;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.vaga_emprego:hover {
    background: var(--bg-color);
}

.photo_vaga_emprego {
    border-left: 1px solid #333;
    padding: 0em 1em 0em 1em;
}

.photo_vaga_emprego {
    display: flex;
    align-items: center;
    width: 85px;
    height: 50px;
}

.photo_vaga_emprego img {
    max-width: 50px;
    max-height: 50px;
}

.text_vaga_emprego {
    display: flex;
    flex-direction: column;
}

.name_vaga_emprego {
    font-weight: bold;
}

.desc_vaga_emprego {
    font-size: 15px;
}

.ver_mais_index {
    margin-top: 1em;
    cursor: pointer;
    padding: 1em;
    font-size: 16.5px;
    text-align: center;
    color: #444;
    font-weight: normal;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.ver_mais_index:hover {
    color: var(--color1);
}

.friends_option_index {
    margin-left: -20px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.friends_option_index:hover {
    background: var(--bg-color);
}

.photo_friends_index {
    display: flex;
    align-items: center;
    width: 85px;
    height: 50px;
    border-left: 1px solid #333;
    padding: 0em 1em 0em 1em;
}

.photo_friends_index img {
    border-radius: 50%;
    width: 55px;
    height: 55px;
}

.text_friends_index {
    width: 325px;
    display: flex;
    flex-direction: column;
}

.name_friends_index {
    font-weight: bold;
}

.desc_friends_index {
    font-size: 14.5px;
}

.add_friends_index ion-icon {
    cursor: pointer;
    border-radius: 50%;
    margin-left: 25px;
    background: var(--color3);
    color: white;
    font-size: 25px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.add_friends_index ion-icon:hover {
    background: var(--color1);
}

.cta {
    cursor: pointer;
    position: relative;
    margin: 0;
    margin-top: 35px;
    padding: 12px 12px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: var(--color4);
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: #c12a61;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c12a61;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: var(--color4);
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

.trend_item {
    display: flex;
    align-items: center;
    padding-bottom: 22.5px;
    border-bottom: 0.75px solid #33333317;
    margin-bottom: 1em;
}

.trend_item_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}

.trend_item_icon ion-icon {
    font-size: 28.5px;
    font-weight: bold;
}

.trend_item_text {
    margin-left: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 275px;
}

.more_trend_item {
    cursor: pointer;
    font-size: 13.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color3);
    padding: 2.5px;
    color: white;
    width: 100px;
    border-radius: 15px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.more_trend_item:hover {
    background: var(--color2);
}

.link_edit_profile {
    background: white;
    cursor: pointer;
    font-size: 17px;
}

.link_edit_profile p {
    padding: 3.5px;
    border-radius: 10px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    color: var(--color1) !important;
}

.link_edit_profile p:hover {
    color: white !important;
    background: var(--color3);
}

/* -=-=-=- FOOTER -=-=-=- */

.custom-shape-divider-bottom-1679778702 {
    width: 100%;
    overflow: hidden;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679778702 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 152px;
}

.custom-shape-divider-bottom-1679778702 .shape-fill {
    fill: var(--color3);
}

.footer {
    min-height: 200px;
    width: 100%;
    background: var(--color3);
    margin-top: -1px;
}

/* ====== EDIT PROFILE ======= */

.profile_background {
    height: 200px;
    padding: 50px;
    border-radius: 10px;
}

.profile_background img {
    min-height: 175px;
    max-width: 175px;
    border-radius: 50%;
    margin-top: 30px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.profile_background img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.profile_info {
    margin-top: 55px;
    width: 100%;
}

.profile_info_text {
    padding: 25px;
}

.profile_info_text h2 {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    max-width: 700px;
    font-size: 17px;
    font-weight: lighter;
}

.profile_info_text p {
    margin-left: 5px;
    font-size: 15px;
    color: var(--font-color-low-emphasis);
}

.span_link {
    cursor: pointer;
    color: var(--color2);
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.profile_info_text p span:hover {
    color: var(--color1);
}

.profile_analytics,
.profile_activity,
.profile_experience,
.profile_resources {
    padding-bottom: 25px;
    border-bottom: 1px solid #44444434;
}

.profile_analytics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_analytics h1 {
    text-align: center;
}

.profile {
    width: 700px;
    padding: 25px;
    background: white;
    margin-bottom: 4em;
}

.profile_info_right {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.profile_info_config {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 25px;
}

.profile_info_div {
    display: flex;
}

.title_profile_edit {
    font-size: 21.5px;
    padding: 25px;
}

.title_profile_edit .subtitle_profile_edit {
    display: flex;
    align-items: center;
    font-weight: normal;
    gap: 5px;
    font-size: 14px;
    color: var(--font-color-low-emphasis);
}

.followers_profile_edit {
    display: flex;
    align-items: center;
    font-weight: normal;
    gap: 5px;
    font-size: 14px;
    color: var(--color2);
}

#edit_center {
    border-radius: 10px;
    border: 1px solid #33333323;
    padding: 50px 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#edit_center p {
    text-align: center;
    margin: 12.5px;
}

.edit_profile_message {
    margin-left: 25px;
}

.edit_profile_message h2 {
    font-size: 15px;
}

.edit_profile_message p {
    width: 100%;
    color: var(--font-color-low-emphasis);
    font-size: 14px;
}

.edit_profile_message div {
    display: flex;
    align-items: center;
}

.edit_profile_message button {
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    padding: 7.5px;
    background: none;
    border: 1px solid #33333379;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.edit_profile_message button:hover {
    border: 1px solid white;
    background: var(--color2);
    color: white;
}

/* -=-=-=- AMIGOS -=-=-=- */

#amigos .container_unico h1 {
    text-align: center;
}

#amigos .container_amigos {
    display: flex;
}

#amigos .acoes_amigos {
    margin-top: 5em;
    padding: 0px 50px 0px 25px;
    border-right: 1px solid #33333336;
}

#amigos .acoes_amigos div {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #33333336;
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
}

#amigos .acoes_amigos div ion-icon {
    color: var(--color2);
}

#amigos .acoes_amigos div:hover {
    color: var(--color1);
    border-bottom: 1px solid var(--color1);
}

#amigos .opcoes_amigos,
#amigos .amigos_pendentes {
    margin-top: 5em;
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

#amigos .opcao_amigo {
    padding: 7.5px;
    min-width: 235px;
    min-height: 275px;
    border-radius: 10px;
    border: 1px solid #33333333;
}

#amigos .opcao_amigo_top {
    background-size: cover;
    background-repeat: no-repeat;
    height: 65px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#amigos .opcao_amigo_bottom {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#amigos .opcao_amigo_bottom img {
    max-width: 100px;
    max-height: 100px;
    margin-top: -65px;
    margin-bottom: 10px;
}

#amigos .opcao_amigo_bottom h2 {
    font-size: 18.5px;
}

#amigos .opcao_amigo_resumo {
    min-height: 25px;
    font-size: 15px;
    text-align: justify;
}

#amigos .opcao_amigo_formacao {
    color: var(--font-color-low-emphasis);
    margin-top: 1.2em;
    font-size: 15px;
    min-height: 25px;
    text-align: center;
}

#amigos .opcao_amigo_bottom .adicionar_amigo {
    margin-top: 5px;
    cursor: pointer;
    padding: 7.5px;
    border-radius: 7.5px;
    color: white;
    background: var(--color2);
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

#amigos .opcao_amigo_bottom .adicionar_amigo:hover {
    background: var(--color5);
}

#amigos .acoes_amigo_pendentes {
    display: flex;
    gap: 10px;
    padding: 5px;
}

#amigos .aceitar_convite {
    font-size: 11px;
    margin-top: 5px;
    cursor: pointer;
    padding: 7.5px;
    border-radius: 5px;
    color: white;
    background: var(--color2);
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

#amigos .opcao_amigo_bottom .aceitar_convite:hover {
    background: var(--color5);
}

#amigos .rejeitar_convite {
    font-size: 11px;
    border: 1px solid #b96378;
    margin-top: 5px;
    cursor: pointer;
    padding: 7.5px;
    border-radius: 5px;
    color: var(--color2);
    background: white;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

/* -=-=-=- VAGAS -=-=-=- */

#vaga h1 {
    margin-top: 1.5em;
    text-align: center;
    font-size: 27.5px;
}

#vaga h2 {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 2.5em;
}

#vaga .info_vaga_top {
    font-size: 16.5px;
    margin-bottom: 1.75em;
}

#vaga .info_vaga_top div {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#vaga .info_vaga_top div ion-icon {
    font-size: 20px;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

#vaga .info_vaga_top div ion-icon:hover {
    color: var(--color2);
}

#vaga .info_vaga_bottom h1 {
    margin: 10px;
}

#vaga .info_vaga_bottom p {
    text-align: justify;
    margin-bottom: 3em;
}

/* -=-=-=- BUSCAR VAGAS -=-=-=- */

#vagas .container_vagas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

#vagas .opcao_vaga {
    background: white;
    border: 1px solid #3333332c;
    padding: 30px;
    display: flex;
    align-items: center;
    width: 600px;
    height: 140px;
    gap: 20px;
    border-radius: 5px;
}

#vagas .foto_empresa_vaga img {
    max-width: 100px;
    max-height: 100px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

#vagas .foto_empresa_vaga img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#vagas .info_vaga .nome_vaga {
    font-size: 17px;
    font-weight: bold;
}

#vagas .info_vaga .desc_vaga {
    font-size: 14.5px;
    color: var(--font-color-low-emphasis);
}

#vagas .aplicar_vaga button {
    cursor: pointer;
    background: var(--color2);
    color: white;
    padding: 10px;
    margin-left: 100px;
    border-radius: 10px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

#vagas .aplicar_vaga button:hover {
    background: var(--color5);
}

#vagas .titulo_explorar_vagas {
    text-align: center;
    margin-bottom: 3.25em;
}

/* -=-=-=- CRIAR PAGINA -=-=-=- */

#criarPagina h1 {
    text-align: center;
}

#criarPagina h5 {
    padding: 1em;
    font-weight: normal;
    text-align: center;
    font-size: 16px;
    color: var(--font-color-low-emphasis);
}

#criarPagina .opcoes_pagina {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 0px 300px 0px;
}

#criarPagina .opcao_pagina {
    cursor: pointer;
    border: 1px solid #3333332d;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 300px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    -webkit-box-shadow: 9px 10px 15px 0px rgba(217,217,217,1);
    -moz-box-shadow: 9px 10px 15px 0px rgba(217,217,217,1);
    box-shadow: 9px 10px 15px 0px rgba(217,217,217,1);
}

#criarPagina .opcao_pagina:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#criarPagina img {
    width: 65px;
    height: 65px;
    margin-bottom: 1.5em;
}

#criarPagina h2 {
    text-align: center;
}

#criarPagina p {
    text-align: center;
}

#permissao {
    text-align: justify;
    font-size: 13px !important;
}

/* -=-=-=- ANIMAÇÕES -=-=-=- */

@keyframes shake {
    25% {
        translate: 6px 0;
    }

    50% {
        translate: -6px 0;
    }

    75% {
        translate: 6px 0;
    }
}

@keyframes gradiente {
    from {
        background-position: 0 50%;
    }

    to {
        background-position: 100% 50%;
    }
}

@media (max-width: 170px) {
    .left-panel .content {
        width: 500px;
        margin-right: 225px;
    }
}

/* RESPONSIVIDADES */

@media (max-width: 870px) {

    .container_login,
    .container_cadastro {
        min-height: 800px;
        height: 100vh;
    }

    .signin-signup {
        margin-top: -175px;
        width: 100%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }

    .signin-signup,
    form.sign-up-mode .signin-signup {
        left: 50%;
    }

    .panels-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .panel {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
        grid-column: 1 / 2;
    }

    .right-panel {
        grid-row: 3 / 4;
    }

    .left-panel {
        grid-row: 1 / 2;
    }

    .image {
        width: 200px;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.6s;
    }

    .panel .content {
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.8s;
    }

    .panel h3 {
        font-size: 1.2rem;
    }

    .panel p {
        font-size: 0.9rem;
        padding: 0.5rem 0;
    }

    .btn.transparent {
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }

    .container_login:before,
    .container_cadastro:before {
        width: 1500px;
        height: 1500px;
        transform: translateX(-50%);
        left: 30%;
        bottom: 68%;
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }

    form.sign-up-mode:before {
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }

    form.sign-up-mode .left-panel .image,
    form.sign-up-mode .left-panel .content {
        transform: translateY(-300px);
    }

    form.sign-up-mode .right-panel .image,
    form.sign-up-mode .right-panel .content {
        transform: translateY(0px);
    }

    .right-panel .image,
    .right-panel .content {
        transform: translateY(300px);
    }

    form.sign-up-mode .signin-signup {
        top: 5%;
        transform: translate(-50%, 0);
    }

    .title {
        font-size: 1.45em;
    }
    
    .container_left {
        width: 100%;
    }
    
    .container_left_bottom {
        flex-wrap: wrap;
    }
    
    .container_principal {
        flex-wrap: wrap;
        width: 100%;
    }
    
    .container_left_top {
        width: 100%;
    }
    
    .feed {
        width: 100%;
    }
    
    .text_something {
        width: 100%;
    }

    .text_something_top {
        width: 100%;
    }
}

@media (max-width: 750px) {

    .container_principal {
        margin-top: 5em;
        padding: 10px;
    }

    .input_nav {
        margin-left: 7.5%;
        width: 250px;
    }

    .nav-list {
        z-index: 9999;
        display: none;
        background: white;
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 130vh;
        padding: 120px 20px;
        transition: ease-in-out 0.3s;
    }

    .open li {
        padding: 15px;
        border-bottom: 1px solid #44444448;
        transition-duration: 0.4s;
    }

    .open li:hover {
        transform: scale(1.1);
    }

    #menu-icon ion-icon {
        display: block;
    }

    .nav-list li a {
        color: var(--font-color);
    }

    .left_profile {
        justify-content: center;
        gap: 25px;
    }

    .main_profile {
        align-items: center;
        flex-direction: column;
    }

    .main_info {
        width: 100%;
    }

    .main_info .main_info_div {
        width: 100%;
    }

    .feed {
        width: 100%;
    }

    .index_companies,
    .index_events,
    .index_friends {
        max-width: 360px;
    }

    .text_feed {
        width: 100%;
    }

    .text_something_bottom input {
        margin-left: 0px;
    }

    .text_something_bottom {
        width: 100%;
    }

}

@media (max-width: 500px) {

    * {
        font-size: 14px;
    }

    .container_unico {
        padding: 25px;
    }

    #vaga h1 {
        font-size: 25px;
    }

    #vaga h2 {
        font-size: 16.5px;
    }

    .title {
        padding: 10px;
        font-size: 20px;
    }

    .right_profile {
        padding: 25px;
    }

    .photo_main_profile img {
        max-width: 115px;
        max-height: 115px;
    }

    .desc_main_profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .desc_main_profile h1 {
        font-size: 21.5px;
    }

    .desc_main_profile p {
        font-size: 15px;
    }
    
    .input-field {
        max-width: 325px;
        height: 40px;
    }

    .input-field input {
        font-size: 13px;
    }

    .left-panel {
        width: 425px;
    }

    .text_something_bottom {
        margin-left: 0px;
    }
    
    .panel {
        padding: 1.25rem 8%;
    }

    .content h3 {
        font-size: 1em;
    }

    .content p {
        font-size: 0.7em;
    }

    .forms-container {
        margin-top: 175px;
    }

    #cadastro-forms-container {
        margin-top: 325px;
    }

    .profile_edit {
        padding: 0px;
    }

    #cadastro {
        flex-wrap: nowrap;
    }

    .title_cadastro {
        font-size: 26.5px;
    }

    .subtitle_cadastro {
        width: 100%;
        font-size: 15px;
    }

    .input_cadastro {
        padding: 7.5px;
        font-size: 13px;
        width: 300px;
    }

    #amigos .container_amigos {
        justify-content: center;
    }

    #amigos .opcoes_amigos {
        padding-left: 0px;
    }

    #transparente {
        padding: 0px !important;
    }

    .container_vagas {
        gap: 10px !important;
    }

    #vagas .opcao_vaga {
        width: 100%;
        padding: 10px;
        height: 165px;
    }

    #vagas .foto_empresa_vaga img {
        max-width: 65px;
        max-height: 65px;
    }

    #vagas .info_vaga .nome_vaga {
        font-size: 16px;
    }

    #vagas .info_vaga .desc_vaga {
        font-size: 13px;
    }

    #vagas .aplicar_vaga button {
        width: 75px;
        font-size: 10px;
        margin-left: 25px;
    }

    #amigos .container_amigos {
        flex-wrap: wrap;
    }

}
