<div class="container_principal" id="cadastro">
    <h1 class="title_cadastro">Adicionar Instituição </h1>
    <h2 class="subtitle_cadastro">
        Para começarmos, adicione algumas informações básicas da sua instituição.
    </h2>

    <form action="/usuario/novaInstituicao" method="POST">

        <div class="inputs_container">

            <!-- NOME -->

            <label for="nome" class="label_cadastro">Nome: <span class="pink_font">*</span></label>
            <input type="text" name="nome" id="nome" placeholder="Nome da sua Instituição" class="input_cadastro"
                autocomplete="off" minlength="2" maxlength="35" aria-placeholder="Nome da sua empresa" required>

            <!-- WEBSITE -->

            <label for="website" class="label_cadastro">Website: <span class="pink_font"></span></label>
            <input type="text" name="website" id="website" class="input_cadastro" autocomplete="off" minlength="2"
                maxlength="100" placeholder="O site da sua empresa">

            <!-- LOGO DA INSTITUICAO -->

            <div class="enviar_logo_empresa">
                <h4 class="title_cadastro">Envie sua Logo</h4>
                <div class="perfil_foto_trocar">
                    <div class="foto_trocar_right">
                        <input type="file" name="file" id="file">
                    </div>
                </div>
            </div>

            <!-- INDUSTRIA -->

            <label for="industria" class="label_cadastro">Industria: <span class="pink_font">*</span></label>
            <input type="text" name="industria" id="industria" placeholder="ex: Cursos Tecnicos" class="input_cadastro"
                autocomplete="off" minlength="2" maxlength="60" required>

            <!-- TAMANHO DA EMPRESA -->

            <label for="tamanho_instituicao" class="label_cadastro">Tamanho da Instuição: <span
                    class="pink_font">*</span></label>
            <select name="tamanho_instituicao" id="tamanho_instituicao" class="input_cadastro" required>
                <option value=""></option>
                <option value="0 - 1 Colaboradores">0 - 1 Colaboradores</option>
                <option value="2 - 10 Colaboradores">2 - 10 Colaboradores</option>
                <option value="11 - 50 Colaboradores">11 - 50 Colaboradores</option>
                <option value="51 - 200 Colaboradores">51 - 200 Colaboradores</option>
                <option value="201 - 500 Colaboradores">201 - 500 Colaboradores</option>
                <option value="501 - 1.000 Colaboradores">501 - 1.000 Colaboradores</option>
                <option value="1.001 - 5.000 Colaboradores">1.001 - 5.000 Colaboradores</option>
                <option value="5.001 - 10.000 Colaboradores">5.001 - 10.000 Colaboradores</option>
                <option value="+ 10.000 Colaboradores">+ 10.000 Colaboradores</option>
            </select>

            <label for="descricao" class="label_cadastro">Descrição: <span class="pink_font">*</span></label>

            <textarea name="descricao" id="descricao" placeholder="uma Descrição da sua empresa" class="input_cadastro" autocomplete="off" cols="30" rows="10" required></textarea>

            <div class="flex">
                <input type="checkbox" name="permissao" id="permissao" value="Assinado" class="checkbox">
                <label for="permissao" class="label_cadastro" id="permissao">Confirmo que sou um representante
                    autorizado desta organização e tenho o direito de agir em seu nome na criação e gestão desta página.
                    A organização e eu concordamos com os termos adicionais das Páginas.
                    <span class="span_cadastro"></span></label>
            </div>

            <button type="submit" class="submit_cadastro">
                Criar Empresa
            </button>
        </div>

    </form>

    <a href="/">Fechar Edição</a>

</div>