<div class="container">

    <!-- CONFIGURAÇÕES FORMULÁRIOS -->

    <div class="forms-container">
        <div class="signin-signup">

            <form action="" class="sign-up-form">
                <h2 class="title">Faça Parte dessa Comunidade Feminina Profissional</h2>

                <div class="input-field">
                    <div class="icon-ion">
                        <ion-icon name="person-outline"></ion-icon>
                    </div>
                    <input type="text" name="nome" id="nome" placeholder="Nome" minlength="2" maxlength="20" autocomplete="off" required>
                </div>

                <div class="input-field">
                    <div class="icon-ion">
                        <ion-icon name="person-outline"></ion-icon>
                    </div>
                    <input type="text" name="sobrenome" id="sobrenome" placeholder="Sobrenome" minlength="2" maxlength="25" autocomplete="off" required>
                </div>

                <div class="input-field">
                    <div class="icon-ion">
                        <ion-icon name="mail-outline"></ion-icon>
                    </div>
                    <input type="email" name="email" id="email" placeholder="Email" minlength="10" maxlength="50" autocomplete="off"  required>
                </div>

                <div class="input-field">
                    <div class="icon-ion">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </div>
                    <input type="password" name="senha" id="senha" placeholder="Senha" maxlength="20" minlength="8" required>
                </div>

                <div class="input-field">
                    <div class="icon-ion">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </div>
                    <input type="password" name="senhaConfirmar" id="senhaConfirmar" placeholder="Confirmar a Senha" maxlength="20" minlength="8" required>
                </div>

                <input type="submit" value="Cadastrar" class="btn solid">

                <p class="social-text">Se Conecte com outras Plaformas</p>
                <div class="social-media">
                    <a href="#" class="social-icon facebook">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                    <a href="#" class="social-icon twitter">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                    <a href="#" class="social-icon github">
                        <ion-icon name="logo-github"></ion-icon>
                    </a>
                    <a href="#" class="social-icon linkedin">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </div>
            </form>
        </div>
    </div>

    <!-- CONFIGURAÇÕES PAINEL -->

    <div class="panels-container">

        <div class="panel left-panel">
            <div class="content">
                <h3>
                    Já é um dos nós?
                </h3>
                <p>
                    Caso você já tenha realizado um cadastro anteriormente e faça parte da plaforma {sem nome ainda
                    ksks} clique aqui para efetuar a sua sessão de login novamente e conectar-se!
                </p>
                <a href="/login">
                    <button class="btn transparent" id="signup-up-btn">Login</button>
                </a>
            </div>

            <img src="/img/undraw_around_the_world_re_rb1p.svg" class="image">
        </div>

    </div>
</div>