<div class="container_login">

    {{>_msg}}

    <!-- CONFIGURAÇÕES FORMULÁRIOS -->

    <div class="forms-container">
        <div class="signin-signup">
            <form action="/login/done" method="POST" class="sign-in-form">
                <h2 class="title">Entrar</h2>

                <div class="input-field">
                    <div class="icon-ion">
                        <ion-icon name="mail-outline"></ion-icon>
                    </div>
                    <input type="email" id="email" name="email" minlength="10" maxlength="50" autocomplete="off" placeholder="Email" required>
                </div>

                <div class="input-field">
                    <div class="icon-ion">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </div>
                    <input type="password" id="senha" name="senha" maxlength="20" minlength="8" autocomplete="off" placeholder="Senha" required>
                </div>

                <input type="submit" value="Login" class="btn solid">

            </form>

            <p class="social-text">Or Sign in with social platforms</p>
            <div class="social-media">
                <a href="#" class="social-icon facebook">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
                <a href="#" class="social-icon twitter">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
                <a href="#" class="social-icon github">
                    <ion-icon name="logo-github"></ion-icon>
                </a>
                <a href="#" class="social-icon linkedin">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
            </div>
        </div>
    </div>

    <!-- CONFIGURAÇÕES PAINEL -->

    <div class="panels-container">

        <div class="panel left-panel">
            <div class="content">
                <h3>
                    Novo por Aqui?
                </h3>
                <p>
                    Não perca tempo! Se junte a $nome, tenha acesso a uma vasta rede de networking, conecte-se, converse
                    e tenha acesso a oportunidades de trabalho voltadas exclusivamente para o genêro feminino.
                </p>
                <a href="/cadastrar">
                    <button class="btn transparent" id="signup-up-btn">Cadastrar</button>
                </a>
            </div>

            <img src="/img/undraw_upgrade_re_gano.svg" class="image">
        </div>

    </div>
</div>