<div class="container">

    <!-- CONFIGURAÇÕES FORMULÁRIOS -->

    <div class="forms-container">
        <div class="signin-signup">
            <form action="" class="sign-in-form">
                <h2 class="title">Sign In</h2>

                <div class="input-field">
                    <ion-icon name="person-outline" class="icon-inicio"></ion-icon>
                    <input type="text" placeholder="Username">
                </div>

                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password">
                </div>

                <input type="submit" value="Login" class="btn solid">

                <p class="social-text">Or Sign in with social platforms</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                    <a href="#" class="social-icon">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                    <a href="#" class="social-icon">
                        <ion-icon name="logo-github"></ion-icon>
                    </a>
                    <a href="#" class="social-icon">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </div>
            </form>

            <form action="" class="sign-up-form">
                <h2 class="title">Sign Up</h2>

                <div class="input-field">
                    <ion-icon name="person-outline"></ion-icon>
                    <input type="text" placeholder="Username">
                </div>

                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Email">
                </div>

                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password">
                </div>

                <input type="submit" value="Sign Up" class="btn solid">

                <p class="social-text">Or Sign Up with social platforms</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                    <a href="#" class="social-icon">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                    <a href="#" class="social-icon">
                        <ion-icon name="logo-github"></ion-icon>
                    </a>
                    <a href="#" class="social-icon">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </div>
            </form>
        </div>
    </div>

    <!-- CONFIGURAÇÕES PAINEL -->

    <div class="panels-container">

        <div class="panel left-panel">
            <div class="content">
                <h3>
                    New Here?
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, accusamus itaque? Itaque soluta
                    blanditiis deleniti, incidunt quae labore nam accusamus at cumque in totam unde alias amet est nobis
                    minus!
                </p>
                <button class="btn transparent" id="signup-up-btn">Sign Up</button>
            </div>

            <img src="/img/undraw_businesswoman_re_5n6b.svg" class="image">
        </div>

        <div class="panel right-panel">
            <div class="content">
                <h3>
                    One of us?
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, accusamus itaque? Itaque soluta
                    blanditiis deleniti, incidunt quae labore nam accusamus at cumque in totam unde alias amet est nobis
                    minus!
                </p>
                <button class="btn transparent" id="signup-in-btn">Sign In</button>
            </div>

            <img src="/img/undraw_press_play_re_85bj.svg" class="image secret">
        </div>

    </div>
</div>