<div class="container_principal" id="cadastro">
    <h1 class="title_cadastro">Tipo de Emprego </h1>
    <h2 class="subtitle_cadastro">
        Personalize seu perfil para conectar com profissionais quem tem os mesmos interesses que você.
    </h2>

    <form action="/usuario/novoEmprego" method="POST">

        <div class="inputs_container">

            <!-- ULTIMO CARGO ATUADO -->

            <label for="cargo_recente" class="label_cadastro">Cargo mais Recente <span class="span_cadastro"></span></label>
            <input type="text" name="cargo_recente" id="cargo_recente" class="input_cadastro" autocomplete="off" minlength="3" maxlength="20" required>

            <!-- TIPO DE CONTRATO DE EMPREGO -->

            <label for="tipo_emprego" class="label_cadastro">Tipo de Emprego <span class="span_cadastro">*</span></label>

            <select name="tipo_emprego" id="tipo_emprego" class="input_cadastro" required>
                <option value=""></option>
                <option value="determinado">Tempo determinado</option>
                <option value="indeterminado">Tempo Indeterminado</option>
                <option value="eventual">Eventual</option>
                <option value="estagio">Estágio</option>
                <option value="experiencia">Experiência</option>
                <option value="intermitente">Intermitente</option>
                <option value="home_office">Home Office</option>
                <option value="jovem_aprendiz">Jovem Aprendiz</option>
                <option value="parcial">Parcial</option>
                <option value="autonomo">Autônomo</option>
            </select>


            <!-- EMPRESA MAIS RECENTE -->

            <label for="empresa_recente" class="label_cadastro">Empresa mais Recente <span class="span_cadastro"></span></label>
            <input type="text" name="empresa_recente" id="empresa_recente" class="input_cadastro" autocomplete="off" minlength="3" maxlength="60" required>

            <!-- SOU ESTUDANTE -->

            <div class="flex">
                <input type="checkbox" name="estudante" id="estudante" value="Sou Estudante" class="checkbox">
                <label for="estudante" class="label_cadastro">Sou Estudante <span class="span_cadastro"></span></label>
            </div>

            <button type="submit" class="submit_cadastro">
                Confirmar
            </button>
        </div> 

    </form>


    <a href="/usuario/tipoEmprego">Informar Depois</a>

</div>
