<div class="container_principal" id="cadastro">
    <h1 class="title_cadastro">Olá {{usuario.nome}}!</h1>
    <h2 class="subtitle_cadastro">
        Personalize seu perfil para conectar com profissionais quem tem os mesmos interesses que você.
    </h2>

    <form action="/usuario/novoEndereco" method="POST">

        <div class="inputs_container">

            <!-- INFORME O PAIS -->

            <label for="pais" class="label_cadastro">País / Região <span class="span_cadastro">*</span></label>

            <select name="pais" id="pais" class="input_cadastro" required>
                <option value=""></option>
                <option value="Brasil">Brasil</option>
            </select>

            <!-- INFORME O ESTADO -->

            <label for="estado" class="label_cadastro">Estado / Distrito <span class="span_cadastro">*</span></label>

            <select name="estado" id="estado" class="input_cadastro" onchange="buscaCidades(this.value)" required>
                <option value=""></option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AM">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="ES">Espiríto Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
                <option value="DF">Distrito Federal</option>
            </select>

            <!-- INFORME A CIDADE -->

            <label for="cidade" class="label_cadastro">Cidade <span class="span_cadastro">*</span></label>
            <select name="cidade" id="cidade" class="input_cadastro" required>

            </select>
        
            <button type="submit" class="submit_cadastro">
                Confirmar Endereço
            </button>
        </div>

    </form>

    <a href="/usuario/cargo">Proximo Provisório</a>


</div>