<div class="container_principal" id="cadastro">
    <h1 class="title_cadastro">Olá {{usuario.nome}}!</h1>
    <h2 class="subtitle_cadastro">
        Crie seu perfil para conectar com profissionais quem tem os mesmos interesses que você.
    </h2>

    <form action="/usuario/novoEndereco" method="POST">

        <!-- INFORME O PAIS -->

        <label for="pais" class="label_cadastro">País / Região <span class="span_cadastro">*</span></label>
        <input type="text" name="pais" id="pais" class="input_cadastro" autocomplete="off" minlength="3" maxlength="20" required>

        <!-- INFORME A  CIDADE E DISTRITO -->

        <label for="cidade" class="label_cadastro">Cidade / Distrito <span class="span_cadastro">*</span></label>
        <input type="text" name="cidade" id="cidade" class="input_cadastro" autocomplete="off" minlength="3" maxlength="60" required>

        <button type="submit" class="submit_cadastro">
            Confirmar Endereço
        </button>

    </form>



</div>