<div class="container_principal" id="cadastro">
    <h1 class="title_cadastro">Qual Tipo de Emprego? </h1>
    <h2 class="subtitle_cadastro">
        Personalize seu perfil para conectar com profissionais quem tem os mesmos interesses que você.
    </h2>

    <form action="/usuario/novoTipoEmprego" method="POST">

        <div class="inputs_container">

            <!-- CARGO-->

            <label for="cargo" class="label_cadastro">Sua Área <span class="span_cadastro"></span></label>
            <input type="text" name="cargo" id="cargo" class="input_cadastro" autocomplete="off" minlength="3" maxlength="60" required>

            <!-- LOCALIDADE -->

            <label for="tipo" class="label_cadastro">Preferência de Emprego <span class="span_cadastro"></span></label>
            <select name="tipo" id="tipo" class="input_cadastro" required>
                <option value=""></option>
                <option value="presencial">Presencial</option>
                <option value="hibrido">Híbrido</option>
                <option value="remoto">Remoto</option>
            </select>

            <button type="submit" class="submit_cadastro">
                Confirmar
            </button>
        </div>

    </form>

    <a href="/usuario/vagas">Informar Depois</a>

</div>

