<div class="container_principal" id="criarPagina">

    <div class="container_unico">

        {{>_msg}}

        <h1>Crie uma Página</h1>
        <h5>Conecte-se com clientes, empregados e a comunidade em geral. Para iniciar escolha um tipo de página.</h5>
        
        <div class="opcoes_pagina">

            <div class="opcao_pagina">
                <img src="https://static.licdn.com/sc/h/8j7g1qg4ygqnysr4hplvebpx7" alt="Empresa">

                <h2>
                    Empresa
                </h2>

                <p>
                    Empresas Grandes, Médias e Pequenas
                </p>
            </div>

            <div class="opcao_pagina">
                <img src="https://static.licdn.com/sc/h/5c9e0v28ilvp9ocpnqbfm7ll2" alt="Empresa">

                <h2>
                    Instituição de Ensino
                </h2>

                <p>
                    Para Escolas, Cursos e Universidades
                </p>

            </div>

        </div>

    </div>
</div>