<div class="container_principal">
    <div class="container_left">

        <div class="container_left_top">
            <div class="main_profile"
                style="background: url(https://drexel.edu/~/media/Drexel/Sites/Core/Images/admissions/visit-tours/virtual-background-downloads/blue-pattern.ashx); background-size: cover; background-repeat: no-repeat">
                <div class="left_profile">

                </div>
                <div class="right_profile">

                </div>
            </div>
        </div>

        <div class="container_left_bottom">

            <div class="main_info">
                <div class="main_info_div">
                    <div><ion-icon name="mail-unread-outline"></ion-icon></div>
                    <div><p>Notificações</p></div>
                </div>
                <div class="main_info_div">
                    <div><ion-icon name="people-outline"></ion-icon></div>
                    <div><p>Amizades</p></div>
                </div>
                <div class="main_info_div">
                    <div><ion-icon name="add-circle-outline"></ion-icon></div>
                    <div><p>Criar Empresa</p></div>
                </div>
                <div class="main_info_div">
                    <div><ion-icon name="newspaper-outline"></ion-icon></div>
                    <div><p>Criar Evento</p></div>
                </div>

            </div>

            <div class="feed">
                <div class="text_something">
                    <div class="photo_text_feed">
                        <img src="https://avatars.akamai.steamstatic.com/c29c1079c7712664fdc13651a0af8197e7d07f4e_full.jpg">
                    </div>
                    <div class="text_feed">
                        <input type="text" name="feed_text" id="feed_text" placeholder="Escreva Algo">
                        </div>
                </div>
                
                <div class="feed_publications">

                </div>
            </div>

        </div>
    </div>

    <div class="container_right">
        <div class="index_events">

        </div>
        <div class="index_companies">

        </div>
        <div class="index_pages">

        </div>
    </div>
</div>