<div class="container_principal" id="notificacoes">

    <div class="container_unico">
        {{#each notificacoes}}

        {{else}}

        <p>Não há notificacoes</p>

        {{/each}}
    </div>
</div>

