<div class="container_principal" id="notificacoes">

    <div class="container_unico">

        <h1>Notificações</h1>

        {{#each notificacoes}}

        <div class="notificacao">
            <div class="notificacao_foto">
                <img src="{{foto}}" alt="Logo Notificação">
            </div>
            <div class="notificacao_texto">
                <h2 class="tipo_notificacao">
                    {{tipo}}
                </h2>
                <p>
                    {{texto}}
                </p>
            </div>
            <div class="notificacao_actions">
                <button>
                    <ion-icon name="trash-outline"></ion-icon>
                </button>
            </div>
        </div>

        {{else}}

        <p>Não há notificacoes</p>

        {{/each}}
    </div>
</div>

