<div class="container_principal" id="cadastro">
    <h1 class="title_cadastro">Adicionar Formação</h1>
    <h2 class="subtitle_cadastro">
        Adicione a suas formações em seu perfil para atrair a atenção de recrutadores!
    </h2>

    <form action="/usuario/addFormacao" method="POST">

        <div class="inputs_container">

            <!-- INFORMAÇÕES FORMACAO -->

            <label for="formacao" class="label_cadastro">Unidade de Ensino</label>
            <select name="formacao" id="formacao" class="input_cadastro" required>
                <option value=""></option>
                {{#each Instituicoes}}
                    <option value="{{nome}}">{{nome}}</option>
                {{else}}

                {{/each}}
            </select>

            <label for="area_formacao" class="label_cadastro">Curso</label>
            <input type="text" name="area_formacao" id="area_formacao"
                placeholder="Tipo de Ensino, ex: Ensino Médio,Tecnico" class="input_cadastro" autocomplete="off"
                minlength="2" maxlength="100">

            <label for="tipo_formacao" class="label_cadastro">Tipo de Formação</label>
            <select name="tipo_formacao" id="tipo_formacao" class="input_cadastro" required>
                <option value=""></option>
                <option value="Ensino Fundamental">Ensino Fundamental</option>
                <option value="Ensino Médio">Ensino Médio</option>
                <option value="Ensino Superior">Ensino Superior</option>
                <option value="Curso Técnico">Curso Técnico</option>
            </select>

            <button type="submit" class="submit_cadastro">
                Confirmar Alterações
            </button>
        </div>

    </form>


    <a href="/usuario/editarPerfil">Fechar Edição</a>

</div>