<div class="container_principal">
    <div class="container_left" id="profile_edit">

        <!-- INFORMAÇÕES PERFIL SUPERIOR -->

        <div class="profile_top">
            <div class="profile-background">

            </div>
            <div class="profile_info">
                <div class="profile_info_left">
                    <h1>Nome</h1>
                    <p>Analise e Desenvolvimento de Sistemas - Escola Técnica Estdual de São Paulo</p>
                    <p>Santa Bárbara d'Oeste, São Paulo, Brazil <span>Contact Info</span></p>
                </div>
                <div class="profile_info_right">
                    <button>Edit Intro</button>
                    <h1>Escola1</h1>
                    <h1>Escola2</h1>
                </div>
            </div>
        </div>

        <!-- INFORMAÇÕES EMPREGOS -->
        <div class="profile_jobs">

        </div>
        <!-- INFORMAÇÕES ANALYTICS -->
        <div class="profile_analytics">

        </div>
        <!-- INFORMAÇÕES RECURSOS -->
        <div class="profile_resources">

        </div>
        <!-- INFORMAÇÕES ATIVIDADE -->
        <div class="profile_activity">

        </div>
        <!-- INFORMAÇÕES PESSOAIS (ESCOLA, FACULDADE, EMPREGOS) -->
        <div class="profile_exprience">

        </div>

    </div>

    <!-- ADICIONAR AMIGOS -->

    <div class="container_right">
        <div class="index_friends">
            <h1 class="title_index_events">
                <ion-icon name="git-network-outline"></ion-icon>
                Talvez você conheça
            </h1>

            <div class="friends_option_index">
                <div class="photo_friends_index">
                    <img
                        src="https://i.pinimg.com/736x/40/d0/3d/40d03d04ff61fccaf012a5fba3612e61--fluffy-animals-baby-animals.jpg">
                </div>

                <div class="text_friends_index">
                    <p class="name_friends_index">
                        Sebastiana Felisberta
                    </p>
                    <p class="desc_friends_index">
                        Profissional de Recursos Humanos.
                    </p>
                    <p class="desc_friends_index">
                        Estuda em USP São Paulo.
                    </p>
                </div>
                <div class="add_friends_index">
                    <ion-icon name="add-circle-outline"></ion-icon>
                </div>
            </div>

            <div class="friends_option_index">
                <div class="photo_friends_index">
                    <img
                        src="https://thumbs.dreamstime.com/b/cachorro-franc%C3%AAs-engra%C3%A7ado-usando-um-carnaval-ou-vaqueiro-de-halloween-com-fantasia-corpo-inteiro-bra%C3%A7os-e-cal%C3%A7as-falsos-c%C3%A3o-176071462.jpg">
                </div>

                <div class="text_friends_index">
                    <p class="name_friends_index">
                        Maria Joana
                    </p>
                    <p class="desc_friends_index">
                        Desempregada.
                    </p>
                    <p class="desc_friends_index">
                        Estudou em E.E Jorge Covre.
                    </p>
                </div>
                <div class="add_friends_index">
                    <ion-icon name="add-circle-outline"></ion-icon>
                </div>
            </div>

            <div class="friends_option_index">
                <div class="photo_friends_index">
                    <img src="https://a.thumbs.redditmedia.com/ZEDQ7Di2TjK2Oia7QY97Bl5PRuuAEsYUcRRMGkTObs8.jpg">
                </div>

                <div class="text_friends_index">
                    <p class="name_friends_index">
                        Eugenia Cosimo
                    </p>
                    <p class="desc_friends_index">
                        Profissional de Produção.
                    </p>
                    <p class="desc_friends_index">
                        Estudou em ETEC José Dagnoni.
                    </p>
                </div>
                <div class="add_friends_index">
                    <ion-icon name="add-circle-outline"></ion-icon>
                </div>
            </div>

            <div class="friends_option_index">
                <div class="photo_friends_index">
                    <img src="https://m.media-amazon.com/images/I/51yYfu2H1eL._AC_SX569_.jpg">
                </div>

                <div class="text_friends_index">
                    <p class="name_friends_index">
                        Marineusa dos Santos
                    </p>
                    <p class="desc_friends_index">
                        Cursando ADS.
                    </p>
                    <p class="desc_friends_index">
                        Estuda em UNICAMP Campinas.
                    </p>
                </div>
                <div class="add_friends_index">
                    <ion-icon name="add-circle-outline"></ion-icon>
                </div>
            </div>

            <div class="friends_option_index">
                <div class="photo_friends_index">
                    <img src="https://i.pinimg.com/originals/0e/02/f6/0e02f656b1464a8ef1064b172e85a1c2.jpg">
                </div>

                <div class="text_friends_index">
                    <p class="name_friends_index">
                        Julia Pereira
                    </p>
                    <p class="desc_friends_index">
                        Desempregada.
                    </p>
                    <p class="desc_friends_index">
                        Estudou em E.E Alfredo Santos.
                    </p>
                </div>
                <div class="add_friends_index">
                    <ion-icon name="add-circle-outline"></ion-icon>
                </div>
            </div>

            <h2 class="ver_mais_index">
                Ver mais
            </h2>

        </div>
    </div>
</div>