<div class="container_principal" id="vagas">

    <div class="container_unico" id="transparente">

        <!-- CONTAINER VAGAS -->

        <h1 class="titulo_explorar_vagas">
            Explorar Vagas
        </h1>

        <div class="container_vagas">

            <!--  VAGAS DE EMPREGO -->

            <div class="opcao_vaga">
                <div class="foto_empresa_vaga">
                    <img src="https://logodownload.org/wp-content/uploads/2014/05/natura-logo-16.png">
                </div>

                <div class="info_vaga">
                    <p class="nome_vaga">
                        Consultor
                    </p>
                    <p class="desc_vaga">
                        Natura Co.
                    </p>
                    <p class="desc_vaga">
                        Campinas, SP
                    </p>
                    <p class="desc_vaga">
                        R$ 2.600/mês - R$ 5.200/mês
                    </p>
                </div>

                <a href="/usuario/vaga">
                    <div class="aplicar_vaga">
                        <button>
                            Ver Mais
                        </button>
                    </div>
                </a>
            </div>

            <div class="opcao_vaga">
                <div class="foto_empresa_vaga">
                    <img src="https://logodownload.org/wp-content/uploads/2017/03/dell-logo-1-1.png">
                </div>

                <div class="info_vaga">
                    <p class="nome_vaga">
                        Desenvolvedor WEB
                    </p>
                    <p class="desc_vaga">
                        Dell
                    </p>
                    <p class="desc_vaga">
                        Americana, SP
                    </p>
                    <p class="desc_vaga">
                        R$ 1.890/mês - R$ 2.300/mês
                    </p>
                </div>

                <a href="/usuario/vaga">
                    <div class="aplicar_vaga">
                        <button>
                            Ver Mais
                        </button>
                    </div>
                </a>
            </div>

            <div class="opcao_vaga">
                <div class="foto_empresa_vaga">
                    <img src="https://logodownload.org/wp-content/uploads/2017/05/banco-santander-logo-41.png">
                </div>

                <div class="info_vaga">
                    <p class="nome_vaga">
                        Profissional de RH
                    </p>
                    <p class="desc_vaga">
                        Banco Santander SA.
                    </p>
                    <p class="desc_vaga">
                        Santo André, SP
                    </p>
                    <p class="desc_vaga">
                        R$ 3.900/mês - R$ 8.300/mês
                    </p>
                </div>

                <a href="/usuario/vaga">
                    <div class="aplicar_vaga">
                        <button>
                            Ver Mais
                        </button>
                    </div>
                </a>
            </div>

            <div class="opcao_vaga">
                <div class="foto_empresa_vaga">
                    <img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Logo_Takeda.svg/1280px-Logo_Takeda.svg.png">
                </div>

                <div class="info_vaga">
                    <p class="nome_vaga">
                        Analista de Produção
                    </p>
                    <p class="desc_vaga">
                        Takeda Brasil
                    </p>
                    <p class="desc_vaga">
                        Bragança Paulista, SP
                    </p>
                    <p class="desc_vaga">
                        R$ 3.150/mês - R$ 3.620/mês
                    </p>
                </div>

                <a href="/usuario/vaga">
                    <div class="aplicar_vaga">
                        <button>
                            Ver Mais
                        </button>
                    </div>
                </a>
            </div>

            <div class="opcao_vaga">
                <div class="foto_empresa_vaga">
                    <img src="https://logodownload.org/wp-content/uploads/2020/04/assai-atacadista-logo.png">
                </div>

                <div class="info_vaga">
                    <p class="nome_vaga">
                        Auxiliar de Administração
                    </p>
                    <p class="desc_vaga">
                        Assaí Atacadista
                    </p>
                    <p class="desc_vaga">
                        Santa Bárbara d'Oeste, SP
                    </p>
                    <p class="desc_vaga">
                        R$ 2.800/mês - R$ 3.900/mês
                    </p>
                </div>

                <a href="/usuario/vaga">
                    <div class="aplicar_vaga">
                        <button>
                            Ver Mais
                        </button>
                    </div>
                </a>
            </div>

            <div class="opcao_vaga">
                <div class="foto_empresa_vaga">
                    <img
                        src="https://cdn.cookielaw.org/logos/29fb1ac6-5fb2-4f86-aaad-74582dc1ce11/ae9079f8-3934-452c-b3e5-784b8f901a69/0545dacf-eac3-459c-bbf4-503d7fe15256/outback-logo-1.png">
                </div>

                <div class="info_vaga">
                    <p class="nome_vaga">
                        Cozinheiro
                    </p>
                    <p class="desc_vaga">
                        Outback Steakhouse
                    </p>
                    <p class="desc_vaga">
                        Piracicaba, SP
                    </p>
                    <p class="desc_vaga">
                        R$ 3.900/mês - R$ 4.700/mês
                    </p>
                </div>

                <a href="/usuario/vaga">
                    <div class="aplicar_vaga">
                        <button>
                            Ver Mais
                        </button>
                    </div>
                </a>
            </div>

            <div class="opcao_vaga">
                <div class="foto_empresa_vaga">
                    <img src="https://logodownload.org/wp-content/uploads/2014/02/vivo-logo-1.png">
                </div>

                <div class="info_vaga">
                    <p class="nome_vaga">
                        Vendedor de Loja
                    </p>
                    <p class="desc_vaga">
                        Vivo
                    </p>
                    <p class="desc_vaga">
                        Santo André, SP
                    </p>
                    <p class="desc_vaga">
                        R$ 2.400/mês - R$ 3.200/mês
                    </p>
                </div>

                <a href="/usuario/vaga">
                    <div class="aplicar_vaga">
                        <button>
                            Ver Mais
                        </button>
                    </div>
                </a>
            </div>

            <div class="opcao_vaga">
                <div class="foto_empresa_vaga">
                    <img
                        src="https://www.rhbrasil.com.br/site/new/wp-content/uploads/2022/09/rhbrasil-coloridoebranco.png">
                </div>

                <div class="info_vaga">
                    <p class="nome_vaga">
                        Auxiliar de Contabilidade
                    </p>
                    <p class="desc_vaga">
                        RH Brasil
                    </p>
                    <p class="desc_vaga">
                        São Carlos, SP
                    </p>
                    <p class="desc_vaga">
                        R$ 1.550/mês - R$ 2.100/mês
                    </p>
                </div>

                <a href="/usuario/vaga">
                    <div class="aplicar_vaga">
                        <button>
                            Ver Mais
                        </button>
                    </div>
                </a>
            </div>

        </div>

    </div>
</div>