<div class="container_principal" id="vaga">

    <div class="container_unico">

        <!-- CONTAINER VAGAS -->

        <div class="container_vagas">

            <!--  VAGAS DE EMPREGO -->

            <div class="opcao_vaga">
                <div class="foto_empresa_vaga">
                    <img src="https://logodownload.org/wp-content/uploads/2014/05/natura-logo-16.png">
                </div>

                <div class="info_vaga">
                    <p class="nome_vaga">
                        Desenvolvedor WEB
                    </p>
                    <p class="desc_vaga">
                        Natura Co.
                    </p>
                    <p class="desc_vaga">
                        Campinas, SP
                    </p>
                    <p class="desc_vaga">
                        R$ 2.600/mês - R$ 5.200/mês
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>